force-app/main/default/flows/Checkout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Multi-step checkout process for StoreConnect e-commerce application. Handles shipping address selection, payment processing, and order creation.</description>
    <environments>Default</environments>
    <interviewLabel>Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User_Account</targetReference>
        </connector>
    </start>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentTokenFromLWC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Address__c</objectType>
    </variables>
    <recordLookups>
        <name>Get_Current_User_Account</name>
        <label>Get Current User Account</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Addresses</name>
        <label>Get Shipping Addresses</label>
        <locationX>302</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_Account.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipping_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Shipping_Address</name>
        <label>Select Shipping Address</label>
        <locationX>428</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldText>
                <fieldText>Choose a Shipping Address</fieldText>
                <inputParameter>
                    <assignToReference>Address_Selection_Header</assignToReference>
                </inputParameter>
            </fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Enter_Payment_Details</targetReference>
        </connector>
        <components>
            <componentInstance>
                <componentInstanceName>Address_Selection_Header</componentInstanceName>
                <componentName>lightning__DisplayText</componentName>
                <locationX>50</locationX>
                <locationY>80</locationY>
                <identifier>Address_Selection_Header</identifier>
                <visibilityRule>
                    <criteria>
                        <leftValueReference>Address_Selection_Header</leftValueReference>
                        <operator>IsNull</operator>
                    </criteria>
                </visibilityRule>
            </componentInstance>
            <componentInstance>
                <componentInstanceName>Saved_Addresses_Table</componentInstanceName>
                <componentName>lightning__DataTable</componentName>
                <locationX>50</locationX>
                <locationY>140</locationY>
                <identifier>Saved_Addresses_Table</identifier>
                <inputParameter>
                    <name>source</name>
                    <value>
                        <elementReference>Get_Shipping_Addresses</elementReference>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>columns</name>
                    <value>
                        <stringValue>[{"label":"Address Label","fieldName":"Address_Label__c","type":"text","sortable":true},{"label":"Street","fieldName":"Street__c","type":"text","sortable":true},{"label":"City","fieldName":"City__c","type":"text","sortable":true},{"label":"State","fieldName":"State__c","type":"text","sortable":true},{"label":"Postal Code","fieldName":"Postal_Code__c","type":"text","sortable":true},{"label":"Country","fieldName":"Country__c","type":"text","sortable":true},{"label":"Default","fieldName":"Is_Default__c","type":"boolean","sortable":true}]</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>keyField</name>
                    <value>
                        <stringValue>Id</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>maxRowSelection</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>minRowSelection</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>showRowNumberColumn</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>wrapText</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameter>
                <outputParameter>
                    <assignToReference>selectedAddress</assignToReference>
                    <name>firstSelectedRow</name>
                </outputParameter>
            </componentInstance>
        </components>
        <outputParameter>
            <assignToReference>selectedAddress</assignToReference>
            <name>firstSelectedRow</name>
        </outputParameter>
    </screens>
    <screens>
        <name>Enter_Payment_Details</name>
        <label>Enter Payment Details</label>
        <locationX>554</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Get_Cart_Items</targetReference>
        </connector>
        <components>
            <componentInstance>
                <componentInstanceName>Payment_Gateway_Component</componentInstanceName>
                <componentName>paymentGateway</componentName>
                <locationX>50</locationX>
                <locationY>80</locationY>
                <identifier>Payment_Gateway_Component</identifier>
                <outputParameter>
                    <assignToReference>paymentTokenFromLWC</assignToReference>
                    <name>paymentToken</name>
                </outputParameter>
            </componentInstance>
        </components>
    </screens>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>680</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Your_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__r.Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_Account.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Review_Your_Order</name>
        <label>Review Your Order</label>
        <locationX>806</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Create_Order_Action</targetReference>
        </connector>
        <fields>
            <fieldText>
                <name>Order_Review_Header</name>
                <fieldText>Review Your Order Details</fieldText>
                <inputParameter>
                    <assignToReference>Order_Review_Header</assignToReference>
                </inputParameter>
            </fieldText>
            <fieldText>
                <name>Shipping_Summary</name>
                <fieldText>Shipping To: {!selectedAddress.Address_Label__c} at {!selectedAddress.Street__c}, {!selectedAddress.City__c}, {!selectedAddress.State__c} {!selectedAddress.Postal_Code__c}</fieldText>
                <inputParameter>
                    <assignToReference>Shipping_Summary</assignToReference>
                </inputParameter>
            </fieldText>
            <fieldText>
                <name>Payment_Summary</name>
                <fieldText>Payment: Details Confirmed</fieldText>
                <inputParameter>
                    <assignToReference>Payment_Summary</assignToReference>
                </inputParameter>
            </fieldText>
        </fields>
        <components>
            <componentInstance>
                <componentInstanceName>Order_Review_Header</componentInstanceName>
                <componentName>lightning__DisplayText</componentName>
                <locationX>50</locationX>
                <locationY>80</locationY>
                <identifier>Order_Review_Header</identifier>
            </componentInstance>
            <componentInstance>
                <componentInstanceName>Shipping_Summary_Text</componentInstanceName>
                <componentName>lightning__DisplayText</componentName>
                <locationX>50</locationX>
                <locationY>120</locationY>
                <identifier>Shipping_Summary_Text</identifier>
            </componentInstance>
            <componentInstance>
                <componentInstanceName>Payment_Summary_Text</componentInstanceName>
                <componentName>lightning__DisplayText</componentName>
                <locationX>50</locationX>
                <locationY>160</locationY>
                <identifier>Payment_Summary_Text</identifier>
            </componentInstance>
            <componentInstance>
                <componentInstanceName>Order_Summary_Table</componentInstanceName>
                <componentName>lightning__DataTable</componentName>
                <locationX>50</locationX>
                <locationY>200</locationY>
                <identifier>Order_Summary_Table</identifier>
                <inputParameter>
                    <name>source</name>
                    <value>
                        <elementReference>Get_Cart_Items</elementReference>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>columns</name>
                    <value>
                        <stringValue>[{"label":"Product","fieldName":"ProductName","type":"text","sortable":true},{"label":"Quantity","fieldName":"Quantity__c","type":"number","sortable":true},{"label":"Unit Price","fieldName":"Unit_Price__c","type":"currency","typeAttributes":{"currencyCode":"USD"}},{"label":"Line Total","fieldName":"Line_Total__c","type":"currency","typeAttributes":{"currencyCode":"USD"}}]</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>keyField</name>
                    <value>
                        <stringValue>Id</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>showRowNumberColumn</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>wrapText</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameter>
            </componentInstance>
        </components>
    </screens>
    <actions>
        <name>Create_Order_Action</name>
        <label>Create Order Action</label>
        <locationX>932</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <assignToReference>cartId</assignToReference>
            <field>cartId</field>
        </inputAssignments>
        <inputAssignments>
            <assignToReference>selectedAddress.Id</assignToReference>
            <field>shippingAddressId</field>
        </inputAssignments>
        <inputAssignments>
            <assignToReference>paymentTokenFromLWC</assignToReference>
            <field>paymentToken</field>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <type>apex</type>
        <apexClass>OrderService</apexClass>
        <methodName>createOrder</methodName>
    </actions>
    <screens>
        <name>Order_Confirmation</name>
        <label>Order Confirmation</label>
        <locationX>1058</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <fieldText>
                <name>Confirmation_Message</name>
                <fieldText>Thank you for your order! Your order has been placed successfully.</fieldText>
                <inputParameter>
                    <assignToReference>Confirmation_Message</assignToReference>
                </inputParameter>
            </fieldText>
        </fields>
        <components>
            <componentInstance>
                <componentInstanceName>Confirmation_Message_Text</componentInstanceName>
                <componentName>lightning__DisplayText</componentName>
                <locationX>50</locationX>
                <locationY>80</locationY>
                <identifier>Confirmation_Message_Text</identifier>
            </componentInstance>
        </components>
    </screens>
</Flow>
