force-app/main/default/flows/Create_Case_from_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Allows community users to create support cases directly from their order history.</description>
    <environments>Default</environments>
    <interviewLabel>Create Case from Order</interviewLabel>
    <label>Create Case from Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Details</targetReference>
        </connector>
    </start>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <recordLookups>
        <name>Get_Order_Details</name>
        <label>Get Order Details</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Describe_Your_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getRecord>
            <field>AccountId</field>
            <field>ContactId</field>
            <field>OrderNumber</field>
        </getRecord>
    </recordLookups>
    <screens>
        <name>Describe_Your_Issue</name>
        <label>Describe Your Issue</label>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_the_Case</targetReference>
        </connector>
        <fields>
            <name>Reason</name>
            <fieldText>What type of issue are you experiencing?</fieldText>
            <fieldType>Picklist</fieldType>
            <inputParameter>
                <elementReference>Reason</elementReference>
            </inputParameter>
            <required>true</required>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Please describe your issue in detail</fieldText>
            <fieldType>TextArea</fieldType>
            <inputParameter>
                <elementReference>Description</elementReference>
            </inputParameter>
            <required>true</required>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <recordCreates>
        <name>Create_the_Case</name>
        <label>Create the Case</label>
        <locationX>464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Order_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>608</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <formulas>
        <name>Subject_Formula</name>
        <dataType>String</dataType>
        <expression>{!Reason} for Order #{!Get_Order_Details.OrderNumber}</expression>
    </formulas>
    <picklistChoiceSets>
        <name>Reason</name>
        <picklistValues>
            <fullName>Damaged Item</fullName>
            <default>false</default>
        </picklistValues>
        <picklistValues>
            <fullName>Shipping Delay</fullName>
            <default>false</default>
        </picklistValues>
        <picklistValues>
            <fullName>Incorrect Item</fullName>
            <default>false</default>
        </picklistValues>
        <picklistValues>
            <fullName>Quality Issue</fullName>
            <default>false</default>
        </picklistValues>
        <picklistValues>
            <fullName>Billing Question</fullName>
            <default>false</default>
        </picklistValues>
        <picklistValues>
            <fullName>Return Request</fullName>
            <default>false</default>
        </picklistValues>
        <picklistValues>
            <fullName>Other</fullName>
            <default>false</default>
        </picklistValues>
    </picklistChoiceSets>
</Flow> 
