force-app/main/default/flows_backup/Checkout_fixed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description
  >Checkout flow for StoreConnect e-commerce application</description>
    <environments>Default</environments>
    <interviewLabel>Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cart_Items</targetReference>
        </connector>
    </start>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getRecords>
            <field>Cart__c</field>
            <field>Product__c</field>
            <field>Quantity__c</field>
            <field>Unit_Price__c</field>
            <field>Line_Total__c</field>
        </getRecords>
    </recordLookups>
    <screens>
        <name>Choose_Shipping_Address</name>
        <label>Choose Shipping Address</label>
        <locationX>302</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldText>
                <fieldText>Choose a Shipping Address</fieldText>
                <inputParameter>
                    <assignToReference
          >Address_Selection_Header</assignToReference>
                </inputParameter>
            </fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Enter_Payment_Details</targetReference>
        </connector>
    </screens>
    <screens>
        <name>Enter_Payment_Details</name>
        <label>Enter Payment Details</label>
        <locationX>554</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Process_Order</targetReference>
        </connector>
    </screens>
    <apexActions>
        <name>Process_Order</name>
        <label>Process Order</label>
        <locationX>806</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Confirmation</targetReference>
        </connector>
        <apexClass>StoreConnectOrderProcessor</apexClass>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingAddressId</name>
            <value>
                <elementReference>selectedAddress</elementReference>
            </value>
        </inputParameters>
    </apexActions>
    <screens>
        <name>Order_Confirmation</name>
        <label>Order Confirmation</label>
        <locationX>1058</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <fieldText>
                <fieldText>Order placed successfully!</fieldText>
            </fieldText>
        </fields>
    </screens>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
