.history/force-app/main/default/flows/Checkout.flow-meta_20250811130040.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Multi-step checkout process for StoreConnect e-commerce application. Handles shipping address selection, payment processing, and order creation.</description>
    <environments>Default</environments>
    <interviewLabel>Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User_Account</targetReference>
        </connector>
    </start>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <recordLookups>
        <name>Get_Current_User_Account</name>
        <label>Get Current User Account</label>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Addresses</name>
        <label>Get Shipping Addresses</label>
        <locationX>302</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_Account.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipping_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Shipping_Address</name>
        <label>Select Shipping Address</label>
        <locationX>428</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldText>
                <name>Address_Selection_Header</name>
                <fieldText>Choose a Shipping Address</fieldText>
                <inputParameter>
                    <assignToReference>Address_Selection_Header</assignToReference>
                </inputParameter>
            </fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Enter_Payment_Details</targetReference>
        </connector>
        <components>
            <componentInstance>
                <componentInstanceName>Address_Selection_Header</componentInstanceName>
                <componentName>lightning__DisplayText</componentName>
                <locationX>50</locationX>
                <locationY>80</locationY>
                <identifier>Address_Selection_Header</identifier>
                <visibilityRule>
                    <criteria>
                        <leftValueReference>Address_Selection_Header</leftValueReference>
                        <operator>IsNull</operator>
                    </criteria>
                </visibilityRule>
            </componentInstance>
            <componentInstance>
                <componentInstanceName>Saved_Addresses_Table</componentInstanceName>
                <componentName>lightning__DataTable</componentName>
                <locationX>50</locationX>
                <locationY>140</locationY>
                <identifier>Saved_Addresses_Table</identifier>
                <inputParameter>
                    <name>source</name>
                    <value>
                        <elementReference>Get_Shipping_Addresses</elementReference>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>columns</name>
                    <value>
                        <stringValue>[{"label":"Address Label","fieldName":"Address_Label__c","type":"text","sortable":true},{"label":"Street","fieldName":"Street__c","type":"text","sortable":true},{"label":"City","fieldName":"City__c","type":"text","sortable":true},{"label":"State","fieldName":"State__c","type":"text","sortable":true},{"label":"Postal Code","fieldName":"Postal_Code__c","type":"text","sortable":true},{"label":"Country","fieldName":"Country__c","type":"text","sortable":true},{"label":"Default","fieldName":"Is_Default__c","type":"boolean","sortable":true}]</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>keyField</name>
                    <value>
                        <stringValue>Id</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>maxRowSelection</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>minRowSelection</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>showRowNumberColumn</name>
                    <value>
                        <booleanValue>false</booleanValue>
                    </value>
                </inputParameter>
                <inputParameter>
                    <name>wrapText</name>
                    <value>
                        <booleanValue>true</booleanValue>
                    </value>
                </inputParameter>
                <outputParameter>
                    <assignToReference>selectedAddress</assignToReference>
                    <name>firstSelectedRow</name>
                </outputParameter>
            </componentInstance>
        </components>
        <outputParameter>
            <assignToReference>selectedAddress</assignToReference>
            <name>firstSelectedRow</name>
        </outputParameter>
    </screens>
    <screens>
        <name>Enter_Payment_Details</name>
        <label>Enter Payment Details</label>
        <locationX>554</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <components>
            <componentInstance>
                <componentInstanceName>Payment_Gateway_Component</componentInstanceName>
                <componentName>paymentGateway</componentName>
                <locationX>50</locationX>
                <locationY>80</locationY>
                <identifier>Payment_Gateway_Component</identifier>
                <outputParameter>
                    <assignToReference>paymentTokenFromLWC</assignToReference>
                    <name>paymentToken</name>
                </outputParameter>
            </componentInstance>
        </components>
    </screens>
</Flow>
